# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\allProject\Spring_Learning\spring_learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
